<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="lead">Amdanom Ni / About us</h2><br>
        <p>Ysgol Gynradd (Babanod/Iau) Cyfrwng Cymraeg yw'r ysgol hon.</p>
        <p>This school is a Welsh Medium Primary School (Infants/Juniors).</p>
        <br><br>
        <a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
