<section id="additionalactivities">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
          <h2 class="lead">Gweithgareddau Ychwanegol</h2>
          Gobeithia'r ysgol sicrhau cydweithrediad a chefnogaeth y rhieni gyda'r holl
weithgareddau ychwanegol a drefnir.<br>
          Mae'r ysgol yn cynnig amrywiaeth o weithgareddau sy'n agored i holl ddisgyblion yr
ysgol sydd ym marn y Pennaeth yn aeddfed ac yn barod i gymryd rhan ynddynt.
Mae’r rhain yn cynnwys gweithgareddau a chlybiau chwaraeon, clybiau ar ôl ysgol a
gweithgareddau’n arwain at berfformiadau cyhoeddus.<br>
          Ni all yr ysgol dderbyn cyfrifoldeb am oruchwylio plant ar derfyn sesiynau'r clybiau
uchod, a gofynnir i rieni/gwarcheidwaid sicrhau eu bod yn gwneud trefniadau i
hebrwng eu plant adref.<br>
          Bydd disgyblion yr Adran Iau yn derbyn cyfleoedd i gymryd rhan mewn
gweithgareddau preswyl, e.e. Glanllyn, Caerdydd.<br>
          <h2 class="lead">Urdd</h2>
          Mae cangen lewyrchus o'r Urdd yn y pentref<br>
          Yn ogystal â gweithgareddau a drefnir yn ganolog gan y mudiad, eisteddfodau a
gwersylla yng Nglanllyn yn bennaf, mae'r adran yn cyfarfod pob wythnos yn ystod
tymhorau'r Nadolig a'r Gwanwyn, ac yn achlysurol yn ystod tymor yr Haf, i gynnal
amrywiol weithgareddau cymdeithasol a diwylliannol drwy gyfrwng y Gymraeg.<br>
          </div>
          <div class="col-lg-6 text-center">
          <h2 class="lead">Additional Activities</h2>
            The school hopes to ensure the co-operation and the support of parents with all the
additional activities arranged.<br>
            The school offers a variety of activities, which are open to all pupils who are in the
headteacher's opinion ready and mature enough to take part in them. These
include sport activities and club, out of school clubs and activities leading to public
performances.<br>
The school cannot accept responsibility for supervising children at the end of
meetings of the above clubs/societies and parents/guardians are asked to ensure
that arrangements are made for children to be taken home.<br>
Junior pupils are given the opportunity to partake in residential courses, e.g.
Glanllyn, Cardiff.<br><br>
          <h2 class="lead">Urdd</h2>
          There is a very active Urdd branch in the village.<br>
          As well as centrally organised activities, mainly 'Eisteddfodau' and weekend
residential activities at Glanllyn, the Urdd branch meets weekly during the Christmas
and Spring terms, and occasionally during the Summer term, to participate in
various social and cultural activities through the medium of the Welsh language.<br>
          </div>
          <div class="col-lg-12 text-center">
            <a href="#top">Catref / Home</a>
          </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
