<section id="complaintsprocedure">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
          <h2 class="lead">Trefn Gwyno</h2>
            Mae gweithdrefnau’r ysgol i ddelio gyda chwynion yn cydymffurfio ag Adran 29 o
Ddeddf Addysg 2002.<br>
Mae tri cham i’r drefn gwyno, fel a nodir isod, a mawr hyderir y gellid delio gydag
unrhyw gwyn cyn cyrraedd Cam 3.<br>
          <b>Cam 1:</b> Gwneir cwyn i’r derbynnydd cyntaf o fewn yr ysgol (e.e.athro/athrawes);
rhoddir cyfle iddi hi / iddo ef i’w datrys. Os na cheir datrysiad, symud i gam 2.<br>
<b>Cam 2:</b> Cyfeirio’r gwyn yn ysgrifenedig i’r pennaeth i ymchwilio iddi. Os na cheir
datrysiad, symud i gam 3.<br>
<b>Cam 3:</b> Cyfeirio’r mater i’r Corff Llywodraethu i ymchwilio iddo. Penderfynu arno a’i
ddatrys.<br><br>
Mae'r drefn hon wedi ei hamlinellu mewn dogfen bwrpasol yn y Gymraeg a'r Saesneg
sydd ar gael yn yr ysgol ac ar wefan yr ysgol. Darperir copi'n rhad ac am ddim, yn ôl
y gofyn, i unrhyw rieni sy'n dymuno gwneud cwyn dan y trefniadau, a gall yr
Awdurdod ddarparu copi mewn iaith heblaw'r Gymraeg a'r Saesneg os bydd hynny'n
angenrheidiol.<br>
<i><b>Pwysleisir, fodd bynnag, y gellir ymdrin â llawer o gwynion yn gyflym
ac effeithiol drwy ystyriaeth anffurfiol yn seiliedig ar drafodaethau gyda'r
athro/athrawes neu’r Pennaeth. </i></b><br>
 Bydd y Corff Llywodraethu'n disgwyl bod camau 1 a 2
wedi eu cyflawni cyn cyflwyno'r gwyn yn ffurfiol mewn achosion eithriadol.<br>
          </div>
          <div class="col-lg-6 text-center">
          <h2 class="lead">Complaints Procedure</h2>
            The school’s complaints procedures comply with the 2002 Education Act.<br>
            There are three steps to the complaints procedures and we hope that any problem
can be resolved before reaching Step 3.<br>
          <b>Step 1:</b> The complaint is lodged with the first recipient within the school (e.g.
teacher); he/she is has the opportunity to resolve the problem. If there is no
resolution, move to Step 2.<br>
<b>Step 2:</b> The matter is referred to the headteacher to investigate, decide upon and
resolve. If there is no resolution, move to Step 3.<br>
<b>Step 3:</b> The matter is referred to the governing body to investigate, decide and
resolve.<br><br>
This procedure is outlined in a document in Welsh and English, which is available at
the school. A copy will be provided free of charge as required to any parent seeking
to make a complaint under these arrangements and the Local Authority can, if
necessary, provide a copy in a language other than Welsh or English.<br>
<i><b>It is emphasised, however, that many complaints can be dealt with quickly and effectively
by informal consideration based on discussions with the teacher or headteacher.</b></i><br>
The Governing body would expect that steps 1 and 2 would have been completed before
presenting the complaint formally in exceptional cases.<br>
          </div>
          <div class="col-lg-12 text-center">
            <a href="#top">Catref / Home</a>
          </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
