<section id="dates" class="bg-warning">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="lead">Dyddiadau / Dates</h2>
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23ffffcc&amp;src=ysgolbethel.org_2d3134343633353836373432%40resource.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FLondon" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            <br><br>
        </div>
    </div>
    {% include subject_spacer.html %}
  </div>
</section>