<section id="food">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
          <h2 class="lead">Cinio Ysgol</h2>
            Mae’r ysgol yn rhan o’r cynllun Ysgol Iach ac ymdrechir i
adlewyrchu hyn ym mwydlen ginio’r ysgol. Cynigir dewis o salad a
ffrwyth neu iogwrt yn ddyddiol.<br>
          <b>
          A fyddech gystal â hysbysebu’r ysgol, yn ysgrifenedig, o
unrhyw anghenion diet arbennig sydd gan eich plentyn.
          </b><br>
          Mae datblygu medrau trin cyllell a fforch a chymdeithasu yn bwysig i
ddatblygiad cyflawn plentyn, felly anogwn chwi i roi cynnig ar ginio ysgol ar gyfer
eich plentyn. Bydd digon o staff ar gael i gynorthwyo a goruchwylio eich plentyn.
Cesglir arian cinio ar fore Llun gan yr ysgrifenyddes. Ni dderbynnir arian ar
unrhyw ddiwrnod arall. Disgwylir i rieni dalu am ginio eu plant ymlaen llaw.<br>
          <b>
          Disgwylir wythnos o rybudd os nad yw eich plentyn am barhau â chinio ysgol.
          </b><br><br>
          <h2 class="lead">Bocs Bwyd a Byrbryd Amser Egwyl</h2>
          Er mwyn hyrwyddo bwyta’n iach a gofal am y dannedd, gofynnwn yn
garedig i chi gefnogi’r ymgyrch ‘Ysgol Iach’ wrth baratoi bocs bwyd
eich plentyn. Awgrymir un peth melys yn unig, e.e. iogwrt neu
fisged/teisen. Ni chaniateir melysion, siocled na diodydd sïol.<br>
          <b>Ffrwythau yn unig</b> a ganiateir yn ystod amser egwyl.<br><br>
          <h2 class="lead">Llefrith</h2>
          Mae Llywodraeth Cymru yn rhedeg cynllun sy'n cynnig llefrith am
ddim i blant hyd at eu pen-blwydd yn 7 oed. <br><br>
          <h2 class="lead">Dwr</h2>
          Mae’r ysgol yn cydnabod pwysigrwydd yfed digon o ddwr yn
ystod y dydd. Anogir y plant ddod â photel fach blastig o <b>ddwr
plaen</b> heb flas i’r ysgol yn ddyddiol. Byddant yn cadw eu potel
wrthlaw bob amser tra byddant yn gweithio a lleolir ffynnon
ddwr yn y neuadd fach i’r plant gael ail-lenwi eu poteli.
          </div>
          <div class="col-lg-6 text-center">
          <h2 class="lead">School Lunch</h2>
            The school is part of the Healthy Schools initiative and this is
reflected in the school lunch menu. A choice of salad, fruit or yogurt
is offered daily.<br>
          <b>
          Please inform the school, in writing, of any special dietary needs
that your child may have.
          </b><br>
          Developing knife and fork skills and socialization are important to the overall
development of the child, so we encourage you to opt for a school lunch for
your child. There will be plenty of staff available to assist and supervise your
child with eating.<br>

          Dinner money is collected on Monday morning by the secretary. No money will
be received on any other day. Parents are expected to pay for their children's
meals in advance. <b>The school requires a week’s notice if your child does
not wish to continue with school lunches.
          </b><br><br>
          <h2 class="lead">Lunchbox and Break Time Snacks</h2>
          To promote healthy eating and tooth care, we kindly ask you to support the
'Healthy School' campaign when preparing your child's lunch box. One sweet
thing only, e.g. yoghurt or biscuit / cake is recommended. Sweets, chocolate
or fizzy drinks are not permitted.<br>
          <b>Only fruits are allowed</b> during break time.<br><br>
          <h2 class="lead">Milk</h2>
          The Welsh Government runs a scheme offering free milk to
children up to the age of 7.<br><br><br>
          <h2 class="lead">Water</h2>
          The school recognizes the importance of drinking plenty of water
during the day. Children are encouraged to bring a small plastic
bottle of <b>plain, unflavoured water</b> to school daily. They will
keep their bottle at hand at all times while they are working and a
water fountain is located in the inner hall for children to refill their
bottles
          </div>
        {% include subject_spacer.html %}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
