<header id="top" class="header">
  <div class="text-vertical-center">
    <br><br><br><br>
    <img src="img/school.png"><br><br><br>
    <br><br>
    
    <a href="#policies" class="btn btn-dark btn-lg">Polisiau / Policies</a>
    <a href="#esafety" class="btn btn-dark btn-lg">E-Diogelwch / E-Safery</a>
    <a href="#sportsprovision" class="btn btn-dark btn-lg">Fitrwydd / Fitness</a>
  	<br/><br/>
    <a href="#notices" class="btn btn-dark btn-lg">Hysbysiadau / Notices</a>
    <a href="https://www.flickr.com/photos/76604151@N04/albums" target="_blank" class="btn btn-dark btn-lg">Albwm / Album</a>
    <a href="#dates" class="btn btn-dark btn-lg">Dyddiadau / Dates</a>
    <a href="#links" class="btn btn-dark btn-lg">Useful Links</a>
    <a href="#contact" class="btn btn-dark btn-lg">Cyswllt / Contact</a>
    <br><br>
    <strong>
      <em>
	     <h4 class="headertext">Hoffai plant, athrawon, llywodraethwyr a staff ategol Ysgol Bethel eich croesawu chwi a’ch plentyn i’n cymuned.</h4>
	     <h4 class="headertext">The children, teachers, governors and ancillary staff of Ysgol Bethel would like to welcome you and your child into our community.</h4>
      </em>
	</strong>
  <br>
  <a href="https://twitter.com/YsgolBethel" class="twitter-follow-button" data-show-count="false">Follow @YsgolBethel</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</header>
