<aside id="links" class="bg-warning">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="lead">Useful Links</h2>
                <a target="_blank" href="https://www.gwynedd.llyw.cymru/cy/Trigolion/Ysgolion-a-dysgu/Ysgolion-a-dysgu.aspx">Addysg Gwynedd / Gwynedd Education</a><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                <a target="_blank" href="http://learning.gov.wales/?skip=1&lang=en">Dysgu Cymru / Learning Wales</a>
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                <a target="_blank" href="http://hwb.wales.gov.uk/">Hwb</a>
                <br/>
                <a target="_blank" href="https://diogel.cyngor.gwynedd.gov.uk/Daearyddol/cy/LleDwinByw/Index/10070343104">Ardal Lleol / Local Area</a><br/><hr/>
                <b>Assesments / Reports and Results</b>
                <br>
                <a target="_blank" href="https://www.estyn.gov.wales/provider/6612011">Reportiau Estyn / Estyn Reports</a>
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                <a target="_blank" href="http://mylocalschool.wales.gov.uk/school.htm?216609213&estab=6612011&iaith=cym">Llywodraeth Cymru / Welsh Assembly</a>
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                <a target="_blank" href="https://statswales.gov.wales/Catalogue/Education-and-Skills/">Statisteg Llywodraeth Cymru / Welsh Assembly Stats</a>
            <br><br>
        </div>
    </div>
  </div>
</aside>
