
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"><a onclick = $("#menu-close").click(); >Ysgol Bethel</a></li>
    <li><a href="#about" onclick = $("#menu-close").click(); >Amdanom Ni / About Us</a></li>
    <li><a href="#hours" onclick = $("#menu-close").click(); >Oriau / Hours</a></li>
    <li><a href="#attendance" onclick = $("#menu-close").click(); >Presenoldeb / Attendance</a></li>
    <li><a href="#psalm" onclick = $("#menu-close").click(); >Salm yr Plant / Childs Psalm</a></li>
    <li><a href="#philosophy" onclick = $("#menu-close").click(); >Athroniaeth / Philosophy</a></li>
    <li><a href="#staff" onclick = $("#menu-close").click(); >Staff</a></li>
    <li><a href="#governors" onclick = $("#menu-close").click(); >Llywodraethwyr / Governors</a></li>
    <li><a href="#pta" onclick = $("#menu-close").click(); >Rhieni-Athrawon / Parent-Teacher</a></li>
    <li><a href="#policies" onclick = $("#menu-close").click(); >Polisiau / Policies</a></li>
    <li><a href="#contact" onclick = $("#menu-close").click(); >Cyswllt / Contact</a></li>
  </ul>
</nav>
