<section id="personalproperty" class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
          <h2 class="lead">Eiddo Personol</h2>
            Nid yw'r Corff Llywodraethol yn derbyn cyfrifoldeb am unrhyw golled na difrod i
eiddo personol plentyn, rhiant nac unrhyw unigolyn arall sydd ar dir yr ysgol
unrhyw amser neu mewn unrhyw fan arall wrth ymwneud â gweithgareddau a
drefnwyd gan yr ysgol. <b>Gofynnir i blant beidio dod â theganau i’r ysgol.</b>
          </div>
          <div class="col-lg-6 text-center">
          <h2 class="lead">Personal Property</h2>
          The Governing Body does not accept responsibility for any loss or damage to the
personal property of a child, parent or any other individual who is on the school
premises at anytime or who is at any other location following activities organised
by the school. <b>Children are asked not to bring toys to school.</b>
          </div>
          <div class="col-lg-12 text-center">
            <a href="#top">Catref / Home</a>
          </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
