<section id="policies" class="bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1>Polisiau / Policies</h1>
          <a href="#schooluniform">Gwisg Ysgol / School Uniform</a><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#equalopportunities">Cyfle Cyfartal / Equal Opportunities</a><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#opendoor">Cyswllt a Rhieni / Links with Parents</a><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#swimming">Nofio / Swimming</a><br>
          <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#specialeducationneeds">Anghenion Addysgol Arbennig / Special Educational Needs</a>
          <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#disabledstudents">Disgyblion Anabl / Disabled Children</a><br>
          <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#administeringmedicene">Moddion i Blant / Medicines to Children</a>
          <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#childrenincare">Plant Sy'n Derbyn Gofal / Children in Care</a>
          <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#sexeducation">Addysg Rhyw / Sex Education</a>
          <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#religion">Crefydd / Religion</a>
          <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          <a href="#languagepolicy">Iaith / Language</a>
      </div>
    </div>
    {% include policies/schooluniform.html %}
    {% include subject_spacer.html %}
    {% include policies/equalopportunities.html %}
    {% include subject_spacer.html %}
    {% include policies/opendoor.html %}
    {% include subject_spacer.html %}
    {% include policies/swimming.html %}
    {% include subject_spacer.html %}
    {% include policies/specialeducationneeds.html %}
    {% include subject_spacer.html %}
    {% include policies/disabledstudents.html %}
    {% include subject_spacer.html %}
    {% include policies/administeringmedicene.html %}
    {% include subject_spacer.html %}
    {% include policies/childrenincare.html %}
    {% include subject_spacer.html %}
    {% include policies/sexeducation.html %}
    {% include subject_spacer.html %}
    {% include policies/religion.html %}
    {% include subject_spacer.html %}
    {% include policies/languagepolicy.html %}
    {% include subject_spacer.html %}
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>