<section id="psalm" class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="lead">Salm yr Plant</h2>
          <em>
          Os trig plentyn lle bo beirniadaeth<br/>
          - dysg gondemnio.<br/><br/>
          Os trig plentyn lle bo gelyniaeth<br/>
          - dysg ymladd.<br/><br/>
          Os trig plentyn lle bo gwatwar<br/>
          - dysg swildod.<br/><br/>
          Os trig plentyn lle bo cywilydd<br/>
          - dysg euogrwydd.<br/><br/>
          Os trig plentyn lle bo goddefgarwch<br/>
          - dysg amynedd.<br/><br/>
          Os trig plentyn lle bo cadernid<br/>
          - dysg hyder.<br/><br/>
          Os trig plentyn lle bo clod<br/>
          - dysg werthfawrogi.<br/><br/>
          Os trig plentyn lle bo tegwch<br/>
          - dysg gyfiawnder.<br/><br/>
          Os trig plentyn lle bo diogelwch<br/>
          - dysg ffydd.<br/><br/>
          Os trig plentyn lle bo cymeradwyaeth<br>
          - dysg hunan-hoffter.<br/><br/>
          Os trig plentyn lle bo derbyniad a chyfeillgarwch<br/>
          dysg ganfod cariad yn y byd<br/><br/>
          <em/>
          <br><a href="#top">Catref / Home</a>
          <hr><h2 class="lead">The Childs Psalm</h2>
          <em>
          If a child lives with criticism<br/>
          - he learns to condemn.<br/><br/>
          If a child lives with hostility<br/>
          - he learns to fight.<br/><br/>
          If a child lives with ridicule<br/>
          - he learns to be shy.<br/><br/>
          If a child lives with shame<br/>
          - he learns to feel guilty.<br/><br/>
          If a child lives with tolerance<br/>
          - he learns to be patient.<br/><br/>
          If a child lives with encouragement<br/>
          - he learns confidence.<br/><br/>
          If a child lives with praise<br/>
          - he learns to appreciate.<br/><br/>
          If a child lives with fairness<br/>
          - he learns justice.<br/><br/>
          If a child lives with security<br/>
          - he learns to have faith.<br/><br/>
          If a child lives with approval</br>
          - he learns to like himself.<br/><br/>
          If a child lives with acceptance and friendship<br/>
          He learns to find love in the world.<br/><br/>
          </em><br/>
          <a href="#top">Catref / Home</a>
          <br/><br>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
