<section id="pta" class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2 class="lead">Cymdeithas Rhieni-Athrawon / Ffrindiau Ysgol Bethel</h2>
          Mae gan yr ysgol Gymdeithas Rhieni-Athrawon gref iawn sy'n gweithio'n galed
iawn i godi arian er mwyn cyfoethogi addysg y plant drwy brynu adnoddau
ychwanegol i'r ysgol. Trefnir gweithgareddau cymdeithasol, codi arian ac
addysgiadol yn dymhorol. <br> <br>Cynhelir Cyfarfod Blynyddol ym mis Hydref i ethol
swyddogion a chynrychiolwyr i'r pwyllgor a chroesewir aelodau newydd. Mae
copi o Gyfansoddiad y Gymdeithas ar gael gan y Pennaeth.
          </div>
          <div class="col-lg-6 text-center">
          <h2 class="lead">Parent-Teacher Association / Friends of Ysgol Bethel</h2>
          The school has a strong and active Parent-Teacher Association, which works
hard to raise monies in order to enrich the children's education by purchasing
additional equipment for the school. Social, fundraising and educational
activities are arranged each term. <br><br>An Annual Meeting is held in October to elect
officials and representatives onto the committee and new members are
welcome. A copy of the Association’s constitution is available from the
headteacher.
          <br/>
          </div>
      {% include subject_spacer.html %}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
