<section id="schoolcouncil">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2 class="lead">Cyngor Ysgol</h2>
          Rydym, fel ysgol yn gwneud ein gorau i sicrhau awyrgylch dysgu diogel,
hapus a theg i’r disgyblion. Mae’r Cyngor Ysgol yn rhoi cyfleoedd i
ddisgyblion leisio eu pryderon a’u hanghenion. Cânt gyfleoedd i ddatblygu
eu sgiliau datrys problemau mewn modd strwythuredig ac i gyfrannu’n
ymarferol at benderfyniadau sydd yn ymwneud â hwy ac at rai materion
rheolaethol. <br> Mae gweithrediad effeithiol Cyngor Ysgol yn datblygu
ymwybyddiaeth y disgyblion o brosesau democrataidd ac yn datblygu
ymdeimlad o gyfrifoldeb tuag at gymuned ac amgylchedd yr ysgol.
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="lead">School Council</h2>
          We, as a school endeavour to provide a secure, happy and fair learning
environment for the pupils. The School Council provides opportunities for
pupils to voice their worries and their needs. They are given opportunities to
develop their problem solving skills in a structured manner and to contribute
to decisions, which are relevant to them and to some managerial issues.<br>
The effective operation of the School Council develops a feeling of
responsibility towards the community and the environment of the school.
      </div>
      {% include subject_spacer.html %}
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
