<section id="sportsprovision" class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
          <h2 class="lead">Nodau a Darpariaeth Chwaraeon</h2>
          <ul>
          <li class="text-left">Lluniwyd Cynllun Gweithredol yn cynnwys amserlen blwyddyn o fodiwlau i
ymateb i ofynion y Cwricwlwm Cenedlaethol.</li>
          <li class="text-left">Derbynia’r disgyblion o leiaf un wers Addysg Gorfforol yr wythnos lle datblygir
medrau cyffredinol. Yn ogystal, bydd pob dosbarth, yn ei dro, yn derbyn sesiynau
hanner tymor o hyfforddiant gymnasteg yng Nghanolfan Hamdden Arfon.</li>
          <li class="text-left">Cymera’r disgyblion yr ysgol rhan mewn twrnamentau lleol, (e.e. peldroed,
rygbi,pêl-rwyd, criced, tennis, gymnasteg a.y.b. Mae tîm yn cystadlu yng Ngala
Nofio Canolfan Hamdden Arfon.</li>
          <li class="text-left">Trefnir twrnamentau rhwng ysgolion cyfagos.</li>
          <li class="text-left">Mae timau yn chwarae gemau amrywiol.</li>
          <li class="text-left">Cynhelir Clybiau Chwaraeon ar ôl ysgol yn achlysurol i blant yr Adran Iau.</li>
          </ul><br>
          <b>Gofynnir i’r plant ddod â gwisg addysg gorfforol addas, ar gyfer y
gweithgareddau hyn. <a href="#physicaleducation">Cliciwch yma am fwy o wythoniaeth</a></b>
          </div>
          <div class="col-lg-6 text-center">
          <h2 class="lead">Aims and Provisions for Sports</h2>
            <ul>
            <li class="text-left">A Scheme of Work has been prepared for Physical Education, which includes a
timetable of modules for the year in compliance with the requirements of the
National Curriculum.</li>
            <li class="text-left">The pupils receive at least one Physical Education lesson a week in which basic
skills are developed. In addition, each class in the junior section, in turn, will
receive half-termly gymnastic lessons at the Arfon Leisure Centre.</li>
            <li class="text-left">The pupils participate in local sports tournaments,( e.g. football, rugby, netball,
cricket, tennis, gymnastics etc) A team also competes in the Arfon Leisure Centre
Swimming Gala.</li>
            <li class="text-left">Tournaments are arranged between neighbouring schools.</li>
            <li class="text-left">A weekly after school sports club is help for Year 2.</li>
            <li class="text-left">Sports clubs areoccasionally held for the Junior Section after school.</li>
            </ul><br>
            <b>Pupils are required to bring suitable physical education clothing for these
activities. <a href="#physicaleducation">For more information please click here</a></b>
          </div>
          {% include subject_spacer.html %}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
