<section id="staff">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="lead">Staff</h2>
          <table class="table">
          <thead><tr><th><strong>Teaching Staff</strong></th></thead>
          {% for tstaff in site.teachingstaff %}
            <tr><td class="text-left">{{ tstaff.name }}</td><td class="text-left">{{ tstaff.title }}</td></tr>
          {% endfor %}
          </table>
          <br/>
          <a href="#top">Catref / Home</a>
          <br/><hr>
          <table class="table">
          <thead><tr><th><strong>Cymorthyddion / Nursery Assistants</strong></th></thead>
          {% for ta in site.teachingassistants %}
            <tr><td class="text-left">{{ ta.name }}</td><td class="text-left">{{ ta.title }}</td></tr>
          {% endfor %}
          </table>
          <br/>
          <a href="#top">Catref / Home</a>
          <br/><hr>
          <table class="table">
          <thead><tr><th><strong>Ysgrifenyddes / Secretary</strong></th></thead>
          <tr><td class="text-left">{{ site.schoolsecretary }}</td><td class="text-left">8.30am - 1.30pm</td></tr>
          </table>
          <br/>
          <a href="#top">Catref / Home</a>
          <br/><hr>
          <table class="table">
          <thead><tr><th><strong>Athrawon Cerdd Teithiol / Peripatetic Music Teachers</strong></th></thead>
          {% for pt in site.peripateticteachers %}
            <tr><td class="text-left">{{ pt.name }}</td><td class="text-left">{{ pt.title }}</td></tr>
          {% endfor %}
          </table>
          <br/>
          <a href="#top">Catref / Home</a>
          <br/><hr>
          <table class="table">
          <thead><tr><th><strong>Ategol / Ancillary</strong></th></thead>
          {% for ancilstaff in site.ancillarystaff %}
            <tr><td class="text-left">{{ ancilstaff.name }}</td><td class="text-left">{{ ancilstaff.title }}</td></tr>
          {% endfor %}
          </table>
          <br/>
          <a href="#top">Catref / Home</a>
          <br/><br/>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
