<section id="workpattern" class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2 class="lead">Patrwm Gwaith</h2>
          Ceisir sicrhau bod yr addysg a ddarperir yn hybu datblygiad moesol,
diwylliannol, meddyliol a chorfforol pob disgybl a bod natur y cwricwlwm
cyflawn yn wahaniaethol, eang a chytbwys. I ymateb â'r gofynion hyn bydd
trefniadaeth y dosbarth yn hyblyg; darperir gwaith ar sail oedran a/neu allu, neu
dro arall bydd disgyblion o ystod oedran sy'n rhychwantu mwy nag un flwyddyn
ysgol yn cydweithio ar yr un dasg. Addysgir y disgyblion fel uned dosbarth o
dan ofal un athrawes/athro sefydlog.<br><br>
Cynllunnir cwricwlwm yr Adran Iau ar sail naw agwedd ar ddysgu gan gynnwys
y pynciau craidd a sylfaen, ac ar sail y Fframwaith Llythrennedd a Rhifedd a’r
Fframwaith Sgiliau. Seilir cwricwlwm y Babanod ar Fframwaith y Cyfnod
Sylfaen, Fframwaith Llythrennedd a Rhifedd a’r Fframwaith Sgiliau. Nodir
cyfraniad y meysydd hyn mewn dull systematig yng nghofnodion yr
athro/athrawes. Er mwyn sicrhau nag eithrir elfennau hanfodol o'r cwricwlwm
cyflwynir y profiadau a'r gweithgareddau i blant yn draws-ddisgyblaethol drwy
ddilyn themâu penodol.
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="lead">Work Pattern</h2>
          The aim is to try and ensure that the education provided enhances the spiritual,
moral, cultural, mental and physical development of each pupil and that the
nature of the complete curriculum is varied, expansive and balanced. In order
to fulfil these needs the class organisation will be flexible; work will sometimes
be given according to the child's age and/or ability, or at other times children of
different age groups spanning more than one school year, will work together on
one task. The children will be taught as a class unit in the care of one
designated teacher.<br><br>
The Junior Section’s curriculum is planned on the basis of nine aspects of
learning including the core and foundation subjects, The Literacy and
Numeracy Framework and the Skills Framework. The Infants Section’s
curriculum is based on the Foundation Phase Framework, the Literacy and
Numeracy Framework and the Skills Framework. The contribution of these
subjects is noted systematically in the teachers' notes. By giving children tasks
and experiences based on specific themes, or on an inter-disciplinary basis, the
school will seek to ensure that other essential elements of the Curriculum are
not forgotten.
      </div>
      {% include subject_spacer.html %}
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
