<section id="administeringmedicene" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Dosbarthu Moddion i Blant / Administering Medicines to Children</h2>
</div>
<div class="col-lg-6 text-center">
Oherwydd rhesymau Iechyd a Diogelwch, ni all yr ysgol gymryd
cyfrifoldeb dros ddosbarthu unrhyw fath o foddion, (gan gynnwys
Calpol) i blant, ond gallwch, pe dymunwch, ddod i wneud hynny,
neu yrru cynrychiolydd ar eich rhan.<br>
Os yw plentyn yn derbyn cwrs o wrth-biotig ac yn ddigon da i
fynychu’r ysgol, gellid gofyn i’r meddyg am ddogn i’w gymryd
ddwywaith y dydd. <b>Ni chaniateir da-da annwyd</b>, megis Tunes,
a.y.y.b.<br><br>
Mewn achlysuron arbennig, e.e. plentyn sydd â salwch tymor hir, neu blentyn sydd yn
ddibynnol ar feddyginiaeth ddyddiol, gellid gwneud trefniadau drwy gysylltu â’r Pennaeth.
Mewn achosion o’r math, gofynnir am gyfarwyddiadau ysgrifenedig gan feddyg y plentyn.<br>
Os bydd plentyn yn sâl yn ystod y dydd, bydd yr ysgol yn cysylltu â’r cartref / rhif cyswllt a
ddarparwyd.
</div>
<div class="col-lg-6 text-center">
Due to Health and safety restrictions, the school cannot accept
responsibility for administering any kind of medicine, (including
Calpol) to children, but you may, should you wish, come in to do so
yourself or send a representative on your behalf.<br>
If a child is on a course of antibiotics and well enough to attend
school, it is possible to ask the doctor for a twice-daily dose. <b>Cold sweets, such as Tunes
etc. are not allowed.</b><br><br><br>
In special circumstances, e.g. if a child suffers from a long term illness or is dependent on
daily medicine, arrangements can be made by contacting the Headteacher. In such
cases, written instructions by the child’s doctor will be needed..<br>
If a child is ill during the day, the school will contact the home/contact number provided.<br>
</div>
</div>
</div>
</section>