<section id="chargeactivities" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Codi Tal am Weithgareddau / Charging for Activities</h2>
</div>
<div class="col-lg-6 text-center">
Mae gan bob plentyn yr hawl i addysg rad ac am ddim ac felly y mae yn Ysgol
Bethel. Serch hynny, ni fuasai modd cynnig rhai gweithgareddau heb eich
cefnogaeth a'ch cydweithrediad chwi. Fe ofynnir yn garedig am gyfraniad ar gyfer
costau cludiant i fynychu gwersi nofio ac ar gyfer ymweliadau addysgiadol.
Gwirfoddol yw hyn. Hefyd, yn ôl argymhellion yr Awdurdod Addysg, fe ofynnir am
randal ar gyfer gwersi offerynnol cerdd.<br>
</div>
<div class="col-lg-6 text-center">
Every child has the right to a free education and this is the case in Ysgol Bethel.
However, it would not be possible to offer some activities without your support and
co-operation. We kindly request a contribution towards transportation costs to
swimming lessons and for educational visits. This is voluntary. Also, following
guidelines set out by the Education Authority, we ask for a part payment for
musical instrument lessons.
<br>
</div>
</div>
</div>
</section>