<section id="childprotection" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Anghenion Addysgol Arbennig / Special Educational Needs</h2>
<br>
<b>Cydgysylltydd Amddiffyn Plant / Child Protection Co-ordinator: </b> {{ site.childprotectioncoordinator }}<br>
<b>Llywodraethwr Amddiffyn plant / Child Protection Governor: </b> {{ site.childprotectiongovernor }}<br><br>
</div>
<hr>
<div class="col-lg-6 text-center">
Mae Ysgol Bethel yn cydnabod yn llawn y cyfraniad y mae’n ei wneud i amddiffyn plant. Mae
tair prif elfen yn ein polisi:-<br>
<ul>
<li class="text-left">Atal drwy’r addysgu a’r cymorth bugeiliol sy’n cael ei gynnig i ddisgyblion;</li>
<li class="text-left">Gweithdrefnau ar gyfer adnabod achosion neu amheuon o gam-drin ac adrodd arnynt.
Oherwydd ein cysylltiad beunyddiol â phlant, mae staff yr ysgol mewn sefyllfa dda i sylwi ar
unrhyw arwyddion allanol o gam-drin. Byddwn yn glynu at Weithdrefnau Amddiffyn Plant Cymru
Gyfan sydd wedi cael eu cadarnhau gan y Bwrdd Diogelu Plant Lleol</li>
<li class="text-left">Cefnogi disgyblion a allai fod wedi cael eu cam-drin.</li>
</ul>
<br>
Mae ein polisi’n berthnasol i’r holl staff a gwirfoddolwyr sy’n gweithio yn yr ysgol, ac i’r
llywodraethwyr.<br><br>
Bydd cydgysylltydd Amdiffyn Plant yr ysgol yn cyfeirio unrhyw achos o bryder i’r Adran
berthnasol o’r Gwasanaethau Cymdeithasol.
<br><br>
Ceir copi llawn o’r polisi a’r gweithdrefnau yn rhad ac am ddim trwy gysylltu â’r ysgol neu trwy
fynd ar safwe’r ysgol.
</div>
<div class="col-lg-6 text-center">
Ysgol Bethel fully recognises the contribution it makes to child protection.
There are three main elements to our policy:-<br>
<ul>
<li class="text-left">Prevention through the teaching and pastoral support offered to pupils.</li>
<li class="text-left">Procedures for identifying and reporting cases, or suspected cases, of abuse. Because of our
day to day contact with children school staff are well placed to observe the outward signs of
abuse. We will follow the All Wales Child Protection Procedures that have been endorsed by the
Local Safeguarding Children Board.</li>
<li class="text-left">Support to pupils who may have been abused.</li>
</ul>
<br><br>
Our policy applies to all staff and volunteers working in the school and governors.
<br><br><br>
The school’s Child Protection co-ordinator will refer any cause for concern to the relevant
department of the Social Services.<br><br>
A copy of the full policy and procedures may be obtained free of charge by contacting the school
or on the school’s website.
</div>
</div>
</div>
</section>