<h2 id="childrenincare" class="lead">Plant Syn Derbyn Gofal</h2>
Y person sydd â chyfrifoldeb dros hyrwyddo cyflawniad plant sy’n derbyn gofal
mewn addysg yw {{ site.childrenincareperson }}
<br><br>
Mae’r ysgol yn gweithredu Polisi Plant Mewn Gofal ac mae gweithdrefnau yn eu lle
i sicrhau bod y plant hyn yn cael mynediad i’r addysg briodol ar gyfer eu gallu
neu’u dawn ac yn derbyn pob cyfle a chymorth i ddatblygu’n addysgol ac yn
gymdeithasol.
<br>
{% include subject_spacer.html %}
<h2 class="lead">Children in Care</h2>
The designated person with responsibility for promoting the achievements of
children in care in education is {{ site.childrenincareperson }} .
<br><br>
The school implements a Children in Care Policy and there has procedures to
ensure that these children have access to an education that is appropriate to their
abilities and aptitudes and to ensure that they receive every possible opportunity
and support to develop educationally and socially.
<br>