<section id="classroomorganisation" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Trefniadaeth Dosbarthiadau / Classroom Organisation</h2>
</div>
<div class="col-lg-6 text-center">
Trefnir yr ysgol yn 6 dosbarth gan sicrhau cydbwysedd o ran niferoedd a chan
geisio osgoi dosbarthiadau gyda mwy na dwy flynedd o ystod oedran. <br>
Pan fo rhaniadau blwyddyn yn anorfod, gwneir hyn ar sail oedran.<br>
Fe ymdrechir i drefnu'r dosbarthiadau er mwyn sicrhau cydadwaith byw ar lafar ac
yn ysgrifenedig rhwng athro a phlentyn, rhwng athro a dosbarth cyfan a rhwng
plentyn â'i gyfoedion.<br>
Fe leolir athrawes a chymhorthydd ym mhob dosbarth yn Adran y Cyfnod Sylfaen<br>
</div>
<div class="col-lg-6 text-center">
The school is arranged into 6 classes with the aim of securing a balance in terms
of numbers and creating units where the age range is limited to no more than two
years. <br>
When splitting a year group is inevitable, this is done on the basis of age.<br>
The objective is to arrange classes to ensure a lively mutual reaction both verbally
and in the written work between the teacher and the child, between the teacher
and the whole class and between the child and his peers.<br>
A full time teacher and nursery assistant have been appointed to each class in the
Foundation Phase section.<br>
</div>
</div>
</div>
</section>