<h2 id="disabledstudents" class="lead">Disgyblion Anabl</h2>
<b>Derbyn</b><br>
Mae’r ysgol yn derbyn disgyblion ag AAA i’r ysgol trwy:<br>
<ul>
<li class="text-left">gydweithio gyda’r asiantaethau cynnal wrth dderbyn disgybl o’r newydd</li>
<li class="text-left">fynychu cyfarfodydd swyddogol, fel adolygiadau datganiadau, </li>
<li class="text-left">drafodaethau a derbyn gwybodaeth, e.e., symud o ysgol i ysgol </li>
<li class="text-left">drafod â rhieni</li>
<li class="text-left">ymdrin â’r cais mewn dull cadarnhaol</li>
<li class="text-left">ddarparu cefnogaeth sensitif a phriodol er mwyn sicrhau y bydd y disgybl yn cael ei
gynnwys yn holl weithgareddau’r ysgol yn unol â Deddf Hawliau’r Anabl.</li>
</ul>
<b>Mynediad i’r Anabl</b><br>
Gosodwyd llethrau a chanllawiau ar gyfer mynediad i’r anabl ac mae canllawiau ar y grisiau
sydd yn arwain i’r caban ac i’r neuadd. Mae llethr symudol ar gyfer y grisiau sydd yn arwain
at y neuadd. Mae canllawiau ar gyfer disgyblion anabl mewn un toiled yn Adran y Babanod,
yn nhoiledau bechygyn yr Adran Iau, yn y caban ac yn y caban newydd. Mae bwriad i osod
canllawiau mewn toiled arall yn Adran y Babanod. Mae toiled anabl i oedolion yn yr adeilad.
Gosodwyd llethrau ar gyfer mynediad i'r anabl yn Adran y Babanod a'r Adran Iau.
<br>
Buasai'r Llywodraethwyr yn gefnogol i unrhyw addasiadau a fyddai angen eu gwneud i’r
adeilad ar gyfer derbyn plentyn neu oedolyn gydag anabledd.
<br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
<hr>
<b>Admitting</b><br>
The school accepts children who have SEN by:<br>
<ul>
<li class="text-left">working in conjunction with support agencies when accepting a new pupil</li>
<li class="text-left">attending meetings, such as review meetings</li>
<li class="text-left">discussions and receiving information, e.g. changing schools,</li>
<li class="text-left">discussing with parents</li>
<li class="text-left">treating the request in a positive manner</li>
<li class="text-left">provide sensitive and relevant support in order to ensure that the pupil is included in all
the school’s activities, according to The Disability Act.</li>
</ul>
<b>Access for the Disabled</b><br>
Ramps and handrails have been built by two entrances for disabled access. Handrails have
been placed on the steps leading to the cabin and the main hall. There is a moveable ramp
for the steps leading to the main hall. There are handrails for disabled pupils in one toilet in
the Infants Section, in the boys' toilet in the Junior Section, in the cabin and in the new
cabin. Further handrails are scheduled for another toilet in the Infants section. There is a
disabled toilet for adults in the building. Ramps have been built for disabled access into the
Infants and Junior section
<br>
The Governors would support any necessary adaptations to the building to receive a
disabled child or adult.
<br>
<br>
<br><br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
