<h2 id="equalopportunities" class="lead">Cyfle Cyfartal</h2><br>
<ul>
<li class="text-left">Yn unol â Deddf Cysylltiadau Hiliol (Diwygiedig) 2000, mae’r
ysgol wedi ymrwymo i hyrwyddo cyfleoedd cyfartal, i hyrwyddo
cysylltiadau da rhwng aelodau gwahanol grwpiau a chymunedau
hiliol, diwylliannol a chrefyddol ac i gael gwared â gwahaniaethu
anghyfreithlon ar sail hil neu ryw.</li>
<li class="text-left">Datblygir disgyblion Ysgol Bethel heb ganiatáu i’w rhyw, hil neu
unrhyw nodweddion personol eraill fod yn rhwystr i hynny. Yn yr
un modd cyflogir unigolion heb ganiatáu i’w rhyw, hil neu unrhyw
nodweddion personol eraill fod yn rhwystr i hynny.</li>
<li class="text-left">Darperir cydraddoldeb cyfle yn yr ysgol i ddisgyblion a staff, dysgu ac atodol.</li>
<li class="text-left">Datblygir cydraddoldeb cyfle a pharch yn yr ysgol rhwng bechgyn a genethod, rhwng
oedolion, rhwng plant ac oedolion a’r gwrthwyneb.</li>
<li class="text-left">Ehangir gorwelion bechgyn a genethod drwy greu amgylchedd lle ni cheir gwahaniaethu
ar sail rhyw a lle herir ystrydebau traddodiadol.</li>
<li class="text-left">Hyrwyddir cyfleoedd cyfartal i ferched a bechgyn ar draws y cwricwlwm. Nid yw’r
athrawon na’r staff atodol yn gosod disgwyliadau gwahanol i ferched a bechgyn.</li>
<li class="text-left">Mae’n anghyfreithlon ym Mhrydain Fawr i wahaniaethu o ran rhyw wrth benodi, diswyddo
neu’n dyrchafu swyddi. Sicrheir bod Ysgol Bethel yn glynu wrth yr Erthyglau Llywodraethu
a’r Ddeddf Gwahaniaethu ar Sail Rhyw 1975 wrth benodi staff.</li>
<li class="text-left">Mabwysiadwyd polisi Cydraddoldeb Hiliol gan yr ysgol, sydd yn nodi ymrwymiad yr ysgol i
hyrwyddo cyfle cyfartal, hyrwyddo cysylltiadau da rhwng aelodau gwahanol grwpiau a
chymunedau hiliol, diwylliannol a chrefyddol ac i osgoi gwahaniaethau anghyfreithlon.</li>
<li class="text-left">Ni adroddwyd ar unrhyw achos o hiliaeth yn yr ysgol.</li>
</ul>
{% include subject_spacer.html %}
<h2 class="lead">Equal Opporunities</h2><br>
<ul>
<li class="text-left">According to the (amended) Race Relations Act 2000, the school is
commited to promote equal opportunities, to promote good relations
between members of different cultural, ethnic and religious groups
and to be free of any illegal differentiation based on race or sex.</li>
<li class="text-left">The children of Ysgol Bethel are developed without allowing their
sex, race or any other personal characteristics to influence that
development. In the same way, individuals are employed ensuring
that their sex, race or any personal characteristics do not influence
any appointments.</li>
<li class="text-left">Equal opportunities are offered at the school to children and staff,
teaching and ancillary.</li>
<li class="text-left">Equal opportunities and respect are fostered and developed at the school between boys
and girls, between adults, between children and adults and vice-versa.</li>
<li class="text-left">Both girls’ and boys’ horizons are expanded in an atmosphere which does not differentiate
according to sex and which challenges traditional concepts.</li>
<li class="text-left">Equal opportunities across the curriculum are encouraged for boys and girls. The teaching
and ancillary staff does not set different expectations for boys and girls.</li>
<li class="text-left">It is unlawful in the United Kingdom to differentiate according to sex when appointing,
dismissing or promoting staff. Ysgol Bethel adopts the Governing Articles and the 1975
Sex Discrimination Act when appointing staff.</li>
<li class="text-left">The School has adopted a Racial Equality Policy, which involves promoting equal
opportunities, promoting good relationships with members of different racial, cultural and
religious groups and communities, and avoiding illegal differentiation.</li>
<li class="text-left">No case of racial discrimination has been reported at the school.</li>
</ul>