<section id="homework" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Gwaith Catref / Homework</h2>
</div>
<div class="col-lg-6 text-center">
<p>
Gosodir gwaith cartref ffurfiol o leiaf unwaith yr wythnos, fel arfer ar brynhawn Iau,
i'w ddychwelyd erbyn bore Llun, a rhoddir cryn bwyslais ar ei gyflawni. Bydd y plant
yn gweithio ar themâu neu brosiectau unigol neu ar weithgareddau datblygu sgiliau
a phan ddigwydd hynny gobeithir y bydd y cartref yn cydweithredu i hybu gwaith y
plant.<br><br>
Ambell i dro bydd gweithgarwch arbennig yn gofyn am wybodaeth gan rieni a
pherthnasau a chymdogion, neu'n gofyn am waith holi a darganfod ar ran y plant.
Sylweddolir mai cyfrifoldeb y cartref yw'r plentyn yn ystod yr oriau hyn ac mai yng
ngoleuni'r cyfrifoldeb hwnnw y bydd rhieni yn cytuno neu'n anghytuno i
gydweithredu.<br><br>
Mae trefn darllen gartref yn bodoli ac ymbiliwn ar rieni i sicrhau bod eu plant yn
darllen yn ddyddiol. Bydd y plant yn cludo eu llyfrau yn ôl ac ymlaen o’r ysgol yn
ddyddiol. Disgwylir i rieni nodi 5 cofnod darllen yn y llyfrau cofnodi darllen yn
wythnosol.<br><br>
O dro i dro fe all athro/athrawes ofyn i blentyn wneud gwaith ychwanegol er mwyn
dileu rhyw wendid neu ganolbwyntio ar agwedd arbennig o'r gwaith. Bryd hynny
gobeithir cael cydweithrediad llwyr y cartref ac anogaeth i'r plentyn i wneud y gwaith.
<br>
</p>
</div>
<div class="col-lg-6 text-center">
<p>
Formal homework is set at least once a week, usually on a Thursday, to be returned
by Monday, and importance is placed on completing it. The children will work on
particular themes or projects or skill development activities. When this happens, it is
hoped that the home will co-operate to encourage the child in his/her work.<br><br>
From time to time a particular activity requires information by parents, relations and
neighbours, or requires interviewing and research work by the child. It is
appreciated that the child is the responsibility of the home during these hours and
parents' willingness to co-operate will be understood in the light of this responsibility.<br><br>
A home reading scheme exists and we entreat parents to ensure that their children
read daily. Books will be carried to and from school daily. It is expected that parents
note 5 reading records a week in the reading record book.<br><br>
Occasionally, a particular teacher may ask a child to do additional work in order to
overcome some weakness or to concentrate on a special aspect of work. At such
times it is hoped that the full co-operation of the home will be forthcoming together
with encouragement necessary for the child to do the work.
<br>
</p>
</div>
</div>
</div>
</section>