<h2 id="languagepolicy" class="lead">Polisi Iaith</h2>
<br>
<b>Amcanion Cyffredinol</b>
Mae Awdurdod Addysg Gwynedd yn gweithredu polisi dwyieithog trwy
holl ysgolion Gwynedd a hefyd yn datblygu polisi dwyieithog ar gyfer
sefydliadau Addysg Bellach.<br>
Yr amcan yw datblygu gallu disgyblion a myfyrwyr y sir i fod yn hyderus
ddwyieithog er mwyn eu galluogi i fod yn aelodau cyflawn o'r gymdeithas
ddwyieithog y maent yn rhan ohoni.<br>
Dylai holl sefydliadau addysg y sir adlewyrchu ac atgyfnerthu'r polisi iaith
yn eu gweinyddiad, eu bywyd cymdeithasol a'u trefn fugeiliol yn ogystal
ag yn eu darpariaeth academaidd.<br>
<br><b>Amcanion Penodol</b><br><br>
<b>Addysg Feithrin</b><br>
Sicrhau, trwy ddarpariaeth a threfniadaeth feithrin bwrpasol a sensitif, y
rhoddir i bob plentyn sylfaen gadarn yn y Gymraeg er mwyn ei alluogi i
gyrraedd y nod o ddwyieithrwydd llawn maes o law.<br>
<b>Babanod</b>
Adeiladu ar y sylfeini a osodwyd i'r Gymraeg drwy addysg feithrin,
cadarnhau a datblygu mamiaith y plentyn o ddysgwyr Cymraeg ac
ymestyn gafael y plentyn o gartref Cymraeg ar y Saesneg.<br>
<b>Iau</b><br>
Cadarnhau a datblygu Cymraeg a Saesneg pob plentyn yn eu holl
agweddau goddefol a gweithredol, er mwyn sicrhau ei fod yn gallu
siarad, darllen ac ysgrifennu'n rhwydd ac yn hyderus yn y ddwy iaith pan
fo'n trosglwyddo i'r ysgol uwchradd. <br>
Gwneir darpariaeth arbennig ar gyfer hwyrddyfodiad.<br>
Bydd y Pennaeth, mewn ymgynghoriad â'r staff, yn paratoi ac adolygu'n
rheolaidd ddogfen sy'n datgan sut mae'r ysgol yn bwriadu gweithredu
polisi iaith yr Awdurdod Addysg a amlinellir uchod.<br>
<a href="https://www.gwynedd.llyw.cymru/cy/Cyngor/Strategaethau-a-pholis%C3%AFau/Addysg/Polisi-Iaith.aspx">Am fwy or manylion</a><br><br>
{% include subject_spacer.html %}
<h2 class="lead">Language Policy</h2>
<b>General Aims</b>
Gwynedd Education Authority operates a bilingual policy in all its schools
and is also developing a bilingual policy for the Further Education
establishments within the county.<br>
The aim is to develop the ability of pupils and students within the county to
be confidently bilingual in order that they can be full members of the
bilingual society of which they are a part.<br>
All educational establishments within the county should reflect and
reinforce the language policy in their administration, their social life and
pastoral arrangements as well as their academic provision.<br>
<br><b>Specific Aims</b><br><br>
<b>Nursery Education</b><br>
To ensure, through sensitively structured provision and organisation, that
each child receives a firm foundation in Welsh in order to enable him/her,
in due course, to achieve the aim of full bilingualism.<br>
<b>Infants</b>
To build on the Welsh Language foundation laid through nursery
education, to consolidate and develop the mother tongue of children who
are Welsh learners and extend the children from a Welsh speaking home's
competence in English.<br>
<b>Juniors</b><br>
To consolidate and develop each child's Welsh and English capabilities in
all aspects, both active and receptive, so as to ensure that he/she can
speak, read and write fluently and confidently in both languages on
transferring to the secondary school.<br>
Special provision will be made for junior latecomers.<br>
The Headteacher, in consultation with the staff and Governors, will
prepare and regularly review a document, which states how the school
intends to operate the Education Authority's Language policy as outlined
above.<br>
<a href="https://www.gwynedd.llyw.cymru/en/Council/Strategies-and-policies/Education/Language-Policy.aspx">For further information</a><br><br>