<h2 id="opendoor" class="lead">Cyswllt â Rhieni</h2>
<p>
Gweithredir polisi 'drws agored' yn yr ysgol lle mae rhyddid a chroeso i rieni,
drwy drefnu apwyntiad ymlaen llaw, i ymweld â'r ysgol i drafod unrhyw agwedd
ar addysg, lles neu hapusrwydd eu plant. Rydym i gyd yn cydweithio er lles pob
plentyn yn yr ysgol. <br>Gwahoddir rhieni i'r ysgol i weld a thrafod gwaith a
datblygiad eu plant ddwywaith y flwyddyn, yn nhymor yr Hydref a thymor yr Haf.
Hefyd gwahoddir rhieni a chyfeillion yr ysgol i fynychu cyngherddau, a.y.b. i
wylio’r plant yn perfformio. Gwahoddir rhieni i wasanaeth diwedd blwyddyn yn
flynyddol.
<br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
<hr>
<h2 class="lead">Links with Parents</h2>
The school follows an 'open door' policy where any parent is welcome, through
prior arrangement, to visit the school to discuss any matter relating to their
child's education, welfare or happiness. We all work together for the benefit of
each and every child at the school.<br> Parents are invited to the school to see and
discuss their child's work and development twice a year, in the Autumn and
Summer terms. Parents and friends of the school are also invited to attend
concerts etc. to watch the children perform. Parents are invited to an annual end
of year service.
<br>
</p>
<br><br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
