<section id="physicaleducation" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Addysg Gorfforol / Physical Education</h2>
</div>
<div class="col-lg-6 text-center">
Mae'r ysgol, mewn partneriaeth â'r cartref, yn gyfrifol am
ddatblygiad corfforol pob plentyn, yn ogystal â'i ddatblygiad
addysgol a moesol. Felly, cynhelir gwersi Addysg Gorfforol o
leiaf unwaith yr wythnos i adrannau'r Babanod ac Iau yng
nghampfa'r ysgol, ar y buarthau, ar y cae, yn y pwll nofio yn y
Ganolfan Hamdden neu yn y ganolfan tenis. Bydd mangre'r gwersi'n dibynnu ar ba
uned o waith bydd y dosbarth yn ymdrin ag ar y tywydd.<br><br>
Ein nod yw datblygu cryfder, rheolaeth ac esthetrwydd y plant trwy eu cael i fod yn
gorfforol weithgar. Byddent hefyd yn cael cyfleoedd i weithio'n annibynnol a
chydweithio ag eraill ac i lunio a rheoli gemau eu hunain.<br><br>
Yn ddibynnol ar y fangre, <b>disgwylir i'r plant wisgo dillad
priodol ar gyfer y gwersi</b>. Golyga hyn newid cyflawn o'u
gwisg uchaf h.y. pâr o siortiau chwaraeon plaen (dim denim)
a chrys T chwaraeon gwyn (nid festiau). Byddant angen
treinyrs ar gyfer gweithgareddau ar y buarthau / cae. Ni
chaniateir gwisgo unrhyw bympiau ar gyfer gweithgraeddau
yn y neuadd ag eithrio’r plant sydd â chlefyd ar eu traed.<br><br>
<b>Ni chaniateir gwisgo modrwyau, clustlysau nac oriawr mewn unrhyw wers
Addysg Gorfforol,</b> (gwerthfawrogir petai’r plant yn eu gadael adref ar ddyddiau
Addysg Gorfforol).<br><br><br>
Os oes unrhyw reswm meddygol pam na all plentyn gymryd rhan mewn gwersi
Addysg Gorfforol, gofynnir yn garedig i'r rhieni hysbysu'r ysgol yn ysgrifenedig.<br><br>
Yn ddibynnol ar y tywydd, ymdrechir trefnu gemau rygbi, peldroed neu bêl-rwyd gyda
ysgolion eraill, mynychu twrnamentau yng Nghanolfannau Hamdden Arfon a mynychu
gala nofio Ysgolion Arfon.<br>
</div>
<div class="col-lg-6 text-center">
The school, in partnership with the home, is responsible for every
child's physical development as well as his/her educational and moral
development. Consequently, Physical Education lessons for the
Infant and Junior Classes are held at least once a week in the school
hall, the field, the schoolyard, the swimming pool at the Leisure Centre or the Tennis
Centre. The venue for the lessons will depend on which unit the class will be following
and upon the weather.<br><br>
Our aim is to develop strength, control and an aesthetic appreciation by getting the
children physically active. They will also have opportunities to work independently and
with others and to form and regulate their own games.<br><br>
Depending on the venue, the <b>children are expected to
wear appropriate clothing for each lesson</b>. This means
a complete set of outer-wear, i.e. a pair of plain sports
shorts (not denim) and a white sports T-shirt (<b>not vest tops</b>).
Trainers will be needed for activities on the yard/
field. The wearing of pumps is not permitted for activities in
the school hall except when children have a foot infection.<br><br>
<b>The wearing of rings, earrings and watches will not be
allowed in any Physical Education lessons,</b> (it would be appreciated if the children
left them at home on Physical Education days).<br><br>
If children are unable to participate because of illness or injury, parents are kindly
requested to inform the class teacher in writing.<br><br>
Depending on the weather, we will attempt to arrange rugby, football or netball games
against other schools in the area, participate in tournaments in the Arfon Leisure
Centre and to participate in the swimming gala for Arfon Schools.
<br>
</div>
</div>
</div>
</section>