<h2 id="religion" class="lead">Crefydd</h2>
Nid yw'r ysgol hon yn dal cysylltiad uniongyrchol a ffurfiol ag unrhyw enwad crefyddol. Y
mae'r addysg grefyddol a gyflwynir yn seiliedig ar faes llafur cydnabyddedig yr Awdurdod.
Gellir archwilio copi o'r maes llafur hwn yn yr ysgol. Fe fydd y plant yn cydaddoli yn
ddyddiol fel ysgol, fel adran neu fel dosbarth.
<br><br>
Fe ellir gwneud trefniadau ar gyfer plant nad yw eu rhieni am iddynt fynychu'r
gwasanaethau crefyddol neu astudiaethau cyffelyb.
<br><br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
<hr>
<h2 class="lead">Religion</h2>
The school has no direct or formal affiliation. The religious education provided is based on
the Authority's agreed syllabus, a copy of which may be examined at the school. The
children will worship collectively on a daily basis as a school, as a unit or as a class.
<br><br>
Suitable arrangements can be made for children whose parents object to them receiving
religious instruction or attending religious services.
<br><br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
