<section id="religion" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Crefydd / Religion</h2>
</div>
<div class="col-lg-6 text-center">
Nid yw'r ysgol hon yn dal cysylltiad uniongyrchol a ffurfiol ag unrhyw enwad crefyddol. Y
mae'r addysg grefyddol a gyflwynir yn seiliedig ar faes llafur cydnabyddedig yr Awdurdod.
Gellir archwilio copi o'r maes llafur hwn yn yr ysgol. Fe fydd y plant yn cydaddoli yn
ddyddiol fel ysgol, fel adran neu fel dosbarth.
<br><br>
Fe ellir gwneud trefniadau ar gyfer plant nad yw eu rhieni am iddynt fynychu'r
gwasanaethau crefyddol neu astudiaethau cyffelyb.
<br>
</div>
<div class="col-lg-6 text-center">
The school has no direct or formal affiliation. The religious education provided is based on
the Authority's agreed syllabus, a copy of which may be examined at the school. The
children will worship collectively on a daily basis as a school, as a unit or as a class.
<br><br><br>
Suitable arrangements can be made for children whose parents object to them receiving
religious instruction or attending religious services.
<br>
</div>
</div>
</div>
</section>
