<section id="safetysun" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Diogelwch Yn Yr Haul / Safety In The Sun</h2>
</div>
<div class="col-lg-6 text-center">
Yn ystod tywydd cynnes, fe’ch anogir i roi eli haul ar eich
plentyn yn y bore ac i roi cyflenwad o’r eli yn ei fag iddo ei
roi cyn mynd allan i chwarae.<br>
Gofynnir i chi sicrhau bod gan eich plentyn gap i’w wisgo ar dywydd braf.
</div>
<div class="col-lg-6 text-center">
During warm weather you are advised to apply sun cream
on your child in the morning and to put a supply of the
cream in his bag so that he may apply it before playtime.<br>
We ask you to ensure that your child has a hat to wear during warm weather.
<br>
</div>
</div>
</div>
</section>