<h2 id="schooluniform" class="lead">Gwisg Ysgol</h2>
<p>
Mae gan yr ysgol hon wisg ysgol swyddogol. Mae'r wisg yn cynnwys crys polo glas
}
golau/crys t, crys chwys glas tywyll/hwdi, sgert neu drowsus llwyd/du, (dim trowsusau
chwaraeon na jîns) ac esgidiau neu drainyrs addas. Ni chaniateir sodlau na fflipfflops.<br><br>
Yn yr Haf caniateir gwisgo trowsus byr neu dri-chwarter llwyd/du neu ffrog las
a gwyn (gingham) i'r genethod. <br>Disgwylir i'r plant fod wedi eu gwisgo'n lân a
thrwsiadus, a bod eu dillad yn cydymffurfio â’r wisg ysgol. Gofynnwn yn garedig am
eich cefnogaeth gyda'r wisg ysgol.<br>
Gellir archebu crysau polo/crysau t a chrysau chwys/hwdis drwy’r ysgol unwaith y
tymor.<br><br><b>
Cyfrifoldeb rhieni yw sicrhau bod enw eu plentyn wedi ei bwytho/ysgrifennu ar
bob dilledyn y mae’n ei wisgo neu’n newid iddo fel rhan o weithgareddau’r
ysgol.</b><br><br>
Ni chaniateir gwisgo clustlysau yn yr ysgol ag eithrio 'stỳds'.<br>

{% include subject_spacer.html %}

<h2 class="lead">School Uniform</h2>
This school has an official uniform. The uniform includes a light blue polo shirt/t-shirt,
a dark blue sweatshirt/hoodie, grey/black skirt or trousers, (not sports trousers or
jeans), and suitable shoes or trainers. Heels and flip-flops are not permitted.<br><br> In the
summer the children can wear grey/ black shorts/three quarter length trousers or a
blue and white gingham dress for the girls.<br> The children are expected to be neatly
dressed in clothes, which conform to the school uniform. We respectfully request
your co-operation with the school uniform.
Polo/T shirts and sweatshirts/hoodies may be ordered through the school once a
term.
<br><br><b>
It is the parent’s responsibility to ensure that their child's name is sewn/written
on each piece of clothing worn or changed into as part of the school's
activities.</b><br><br>
The wearing of earrings is not permitted in school, with the exception of 'studs'
</p>
