<section id="schooladmissions" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Polisi Derbyn yr Ysgol / The School's Admission Policy</h2>
</div>
<div class="col-lg-6 text-center">
Yn llawn amser ym mis Medi yn dilyn eu penblwydd yn 4 oed. <br>
Yn rhan amser (bore / prynhawn) ym mis Medi yn dilyn eu
penblwydd yn 3 oed.<br>
Rhaid i bob disgybl wneud cais i’r AALl am le yn yr ysgol. Rhaid i ddisgyblion y
dosbarth Meithrin hefyd wneud cais i’r AALl am fynediad i’r dosbarth Derbyn.<br>
</div>
<div class="col-lg-6 text-center">
Full time in the September following their 4th birthday.<br>
Part time (mornings / afternoons) in the September following their 3rd birthday.<br>
All pupils must make a request to the LEA for a place in the school. Pupils who
attend the Nursery class must also make a request to the LEA for entry to the
Reception class.<br>
</div>
</div>
</div>
</section>