<h2 id="sexeducation" class="lead">Addysg Rhyw</h2>
Mae’r ysgol wedi ymateb i ofynion Cynulliad Cenedlaethol Cymru i
weithredu rhaglen ‘Addysg Rhyw a Pherthnasoedd’. Defnyddir fframwaith ABCh a’r
Cwricwlwm Gwyddoniaeth fel sylfaen. Y nod yw meithrin hunan barch a deallusrwydd
bechgyn a genethod o’u cyrff eu hunain drwy ymdrîn â materion rhywiol mewn ffordd
sensitif a chan feithrin agwedd iach ac aeddfed tuag at brosesau bywyd a materion
rhywiol.
<br><br>
Ymdrechir i ateb unrhyw gwestiynau sydd yn codi’n naturiol gan y plant ac fe ymdrinnir â'r
maes mewn modd sensitif a synhwyrol gan bwysleisio’r perthynas teuluol a chariadus.
Mae hawl gan rieni i eithrio’u plant o rannau o’r gwersi Addysg Rhyw. Gallech, pe
dymunwch, ymgynghori â'r Pennaeth ynghylch polisi’r ysgol ar Addysg Rhyw.
<br><br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
<hr>
<h2 class="lead">Sex Education</h2>
The school has reacted to the Welsh Assembly’s requirement to provide a ‘Sex and
Relationships’ education program, the basis of which is the PSE Framework and the
Science Curriculum. The aim is to develop boys and girls’ self-respect and understanding
of their own bodies by dealing with aspects of a sexual nature in a sensitive manner and
by developing a healthy and mature attitude towards life processes and sexual matters.
<br><br>
Any questions that may naturally arise will be answered appropriately. All matters will be
dealt with in a sensitive and sensible manner with emphasis on loving and family
relationships. Parents may remove their child from some of the Sex Education lessons.
You may, should you wish, consult the Headteacher concerning the school’s policy on Sex
Education.
<br><br>
<a href="#top" onclick = $("#menu-close").click(); >Catref / Home</a>
