<section id="specialeducationneeds" class="bg-info">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="lead">Anghenion Addysgol Arbennig / Special Educational Needs</h2>
<br>
<b>The SEN coordinator:</b> {{ site.sencoordinator }}<br>
<b>The Designated Governor:</b> {{ site.sendesignatedgovernor}}<br><br>
</div>
<hr>
<div class="col-lg-6 text-center">
<b>Egwyddorion</b><br>
Mae Ysgol Bethel yn anelu at sicrhau cyfle cyfartal cwricwlaidd a chymdeithasol i
ddisgyblion ag anghenion addysgol arbennig. Rydym yn gweithio’n agos gyda rhieni er
mwyn sicrhau partneriaeth effeithiol i helpu’r disgybl. Rydym yn cydweithio’n effeithiol ag
asiantaethau statudol a gwasanaethau eraill sydd yn berthnasol i’r plentyn a’i anawsterau.
Rhoddir pwyslais ar gyfraniad y disgybl ac ystyriaeth i’w farn. Ceisiwn sicrhau ymateb ysgol
gyfan i helpu’r disgybl.<br><br>
<b>Amcanion</b>
<ul>
<li class="text-left">Sicrhau bod cyfundrefn yn bodoli yn yr ysgol i adnabod yn gynnar y plentyn sydd ag
anawsterau a all fod yn llesteirio ei addysg.</li>
<li class="text-left">Casglu gwybodaeth ynghyd gan athrawon, rhieni, y disgybl ac eraill i sicrhau y ceir y
ddealltwriaeth orau am natur anawsterau’r plentyn.</li>
<li class="text-left">Sicrhau y caiff y ddarpariaeth angenrheidiol ei gwneud ar gyfer unrhyw ddisgybl sydd ag
anghenion addysgol arbennig.</li>
<li class="text-left">Ceisio sicrhau cydweithrediad a chefnogaeth y rhieni ac eraill mewn perthynas ag
adnabod a darparu gwasanaeth.</li>
</ul><br>
<b>Darpariaeth</b><br>
Bydd yr ysgol yn darparu cefnogaeth sensitif a phriodol er mwyn sicrhau y bydd y disgybl yn
cael ei gynnwys yn holl weithgareddau’r ysgol, fel y bo modd. Dilynnir Côd Ymarfer
Comisiwn Hawliau’r Anabl (Ysgolion) a’r Ddeddf AAA ac Anabledd 2001.<br><br>
Bydd pob disgybl ag AAA yn dilyn y cwricwlwm gyda disgyblion eraill. Os cyfyd anawsterau,
yna:<br>
<ul>
<li class="text-left">rhoddir sylw unigol fewn y dosbarth </li>
<li class="text-left">paratoir gwaith gwahaniaethol gan yr athrawon dosbarth a chan yr athrawes AAA</li>
<li class="text-left">ymgynghorir gydag asiantaethau cynhaliol</li>
<li class="text-left">cynhelir trafodaethau gyda rhieni</li>
<li class="text-left">llunir cynllun addysg unigol i ddisgyblion o fewn Cymorth gan yr Ysgol, Cymorth gan
yr Ysgol a Mwy ac ar gyfer disgyblion sydd ar Ddatganiad</li>
</ul><br>
Darperir cefnogaeth mewn grwpiau bychan i rai disgyblion yn wythnosol, yn bennaf er mwyn
datblygu llythrennedd a bydd rhai yn derbyn sylw wythnosol gan athrawes AAA yr Awdurdod
Addysg. Gall yr AALl drefnu lleoliad mewn Unedau Arbennig i rai disgyblion.
<br><br>
</div>
<div class="col-lg-6 text-center">
<b>Principles</b><br>
Ysgol Bethel aims to ensure equal curricular and social opportunities for every pupil who
has special educational needs. We work closely with parents in order to promote an
effective partnership which will benefit the pupil. We work closely with statutory agencies
and other services relevant to the pupil’s needs. There is emphasis on the child’s
contribution and his opinion is considered. We aim for a whole school response to help the
pupil.<br><br><br>
<b>Aims</b>
<ul>
<li class="text-left">Ensure that there are procedures in place in the school to recognise early a child who
has difficulties which may inhibit his learning.</li>
<li class="text-left">Gather information from teachers, parents, the pupil and others to ensure the best
possible understanding of the nature of the pupil’s needs </li>
<li class="text-left">Ensure that the necessary provision is made for any pupil who has special educational
needs.</li>
<li class="text-left">Try to ensure the co-operation and support of the parents and others in relation to
recognising and providing a service.</li>
</ul><br>
<b>Provision</b><br>
The school provides a sensitive and appropriate response in order to ensure that the pupils
are included in all the school’s activities, if at all possible. The Code of Practice for the
Disability Rights Commission and the SEN and Disability Act 2001 are followed.<br><br>
Every SEN pupil will follow the curriculum. Should difficulties arise, then:<br>
<ul>
<li class="text-left">The child will receive attention within the class</li>
<li class="text-left">Differentiated work will be provided by the class teacher or the SEN teacher</li>
<li class="text-left">Support agencies will be contacted</li>
<li class="text-left">Discussions with parents will occur</li>
<li class="text-left">An individual lesson plan will be created for those on ‘School Action’, ‘School Action
Plus and for pupils who are Statemented.</li>
</ul><br>
Weekly support within a small group is provided for some pupils, mainly to develop literacy
and some pupils receive weekly sessions with the Education Authority’s SEN teacher. The
LEA may provide some pupils with a placement in a specialised unit.
<br><br>
</div>
</div>
</div>
</section>