<h2 id="swimming" class="lead">Nofio</h2>
<p>
Fe gynhelir gwersi nofio am dymor i Flynyddoedd 3 & 4 ac am
hanner tymor i Flynyddoedd 2,5&6 yn ystod y flwyddyn. Fe
fydd y plant yn nofio ar fore Gwener drwy'r flwyddyn ysgol. Fe
gynhelir y gwersi ym mhwll nofio Canolfan Hamdden Arfon. Fe
fydd y gwersi ar gyfer yr Adran Iau a Blynyddoedd 1 a 2. Fe'ch
hysbysir mewn da bryd pan fydd eich plentyn yn mynychu.<br><br>
Mae'r gwersi'n rhan o weithgareddau'r ysgol, ac fe ddisgwylir i bob plentyn sydd yn yr
ysgol yn y bore fynychu'r gwersi. Gofynnir yn garedig i rieni hysbysu'r pennaeth, drwy
lythyr, os na fydd plentyn yn mynd i’r dwr neu os fydd ag apwyntiad meddygol yn y
bore.<br><br>
Gofynnir i’r genethod wisgo gwisg nofio un darn. <b>Nid yw bicinis yn addas</b> ar gyfer y
gwersi nofio.<br><br>
Gofynnir yn garedig i'r rhieni gyfrannu at gost y cludiant.
<br>
{% include subject_spacer.html %}
<h2 class="lead">Swimming</h2>
Swimming lessons will be held termly for years 3&5 and half
termly for Years 2,5&6 during the year. The children will be
swimming on Friday mornings throughout the school year.
The lessons will be held in the pool at Arfon Leisure Centre.
The lessons are for the Junior Section and Years 1 and 2.
You will be informed in good time if your child will be
attending.<br><br>
The lessons are considered part of the school's activities, and as such, every child
present in the morning is expected to attend. Parents are kindly requested to inform
the headteacher, in writing, if a child will not be going in the water or has a medical
appointment in the morning.<br><br>
Girls are requested to wear a one-piece swimming costume. <b>Bikinis are not suitable</b>
for swimming lessons.<br><br>
Parents are kindly requested to contribute towards transportation costs.
<br>
</p>
