<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include hours.html %}
  {% include attendance.html %}
  {% include psalm.html %}
  {% include philosophy.html %}
  {% include staff.html %}
  {% include governors.html %}
  {% include pta.html %}
  {% include schoolcouncil.html %}
  {% include food.html %}
  {% include additionalactivities.html %}
  {% include personalproperty.html %}
  {% include policies.html %}
  {% include links.html %}
  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
